html{
    position: relative;
    min-height: 100%;
}

body{
    background: rgba(0, 0, 0, 0.7) url(/IMAGES/Image\ de\ fond.png);
    background-blend-mode: darken;
    background-size: cover;
}

/*Ajout des propriétés globaux*/
h1 {
    font-family: 'Limelight', sans-serif;
    font-size: 20px;
    color: transparent;
    background-image: linear-gradient(to right, #00ffe5, #ff00ff);
    background-clip: text;
}

h2{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

h3{
    margin-bottom: 40px;
    font-size: 20px;
    font-family: 'Keania One', cursive;
    color: transparent;
    background-image: linear-gradient(to right, #59ff00, #00ffd4);
    background-clip: text;
}

h4{
    margin-bottom: 0px;
    width: 80px;
    padding: 5px;
    font-size: 30px;
    font-family: 'Keania One', cursive;
    color: transparent;
    background-image: linear-gradient(to right, #59ff00, #00ffd4);
    background-clip: text;
}

h5{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: white;
    width: fit-content;
}

h6{
    font-size: 40px;
    margin-bottom: 80px;
    font-family: 'Keania One', cursive;
    color: transparent;
    background-image: linear-gradient(to right, #59ff00, #00ffd4);
    background-clip: text;
}

.button{
    border-style: none;
    background-image: linear-gradient(to right, #f600ff, #1500ff, #00bbff, #ff00dd);
    background-size: 200%;
    color: white;
    border-radius: 5px;
    width: 160px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    transition: 0.4s ease-out;
}

.button:hover{
    color: white;
    background-position: 100%;
}

::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: transparent;
    background-image: linear-gradient(#00ff62, #d900ff);
    background-clip: text;
}

textarea{
    background-color: #1D1D1D;
    height: 200px;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid white;
}

/*Ajout des propriétés du header*/
.navbar-brand{
    font-family: 'Jersey 25', sans-serif;
    font-size: 20px;
    color: transparent;
    background-image: linear-gradient(#003cff, #00ff44);
    background-clip: text;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin: 5px;
}

.pseudo{
    padding-top: 20px;
}

.cerclepseudo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7100b7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.textpseudo{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: white;
}

header a{
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
}

/*Ajout des propriétés du hero-scene*/
.hero-scene{
    position: relative;
    margin-bottom: 100px;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(/IMAGES/Introduction.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }

    *{
        /*Positionner les éléments devant le ::before*/
        position:relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/*Ajout des propriétés du main*/
main p{
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

article{
    margin-bottom: 80px;
    justify-content: center;
    background-color: #2d2d2D;
    border-radius: 20px;
    box-shadow: inset 0 4px 100px #000000;
}

main a{
    text-decoration: none;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-decoration: underline;
    transition: 0.4s ease-out;
}

main a:hover{
    color: transparent;
    background-image: linear-gradient(#a5e5ff, #e092ff);
    background-clip: text;
    text-decoration: underline;
}

.container{
    padding: 50px;
}

/*Ajout des propriétés des commentaires*/
time{
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.bi-star-fill {
    font-size: 26px;
}

.stars {
    margin-top: 10px;
}

.comment1 .bi-star-fill {
    background: linear-gradient(to right, #fbff00, #ff00d0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.comment2 .bi-star-fill {
    background: linear-gradient(to right, #eaff00, #e500ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bi-hand-thumbs-up {
    color: white;
    font-size: 30px;
}

.bi-share {
    color: white;
    font-size: 25px;
}

.textmessage{
    margin-top: 20px;
}

.like{
    margin-right: 50px;
    width: fit-content
}

.bi.bi-share{
    padding-top: 5px;
    margin-right: 10px;
}

.bi.bi-hand-thumbs-up{
    margin-right: 10px;
}

.share{
    width: fit-content
}

.interactions p {
    padding-top: 10px;
}

.share p{
    padding-left: 5px;
}

.comments{
    margin-top: 100px;
}

.comments p{
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    width: fit-content
}

.comments.h3{
    font-size: 30px;
}

.pseudomessage{
    margin-right: 10px;
}

.pseudomessage.cerclepseudo1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b700a5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

.textpseudo1{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
}

.pseudomessage.cerclepseudo2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #009dff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

.textpseudo2{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
}

.button.plus{
    width: 80px;
    height: 60px;
    border-radius: 20px;
}

.EnglobComments {
    margin-bottom : 250px
}

/*Ajout des propriétés du footer*/
footer{
    padding: 15px;
    margin-top: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer a{
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
}

footer a:hover{
    text-decoration: underline;
}

footer p {
    margin-top: 20px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}

/*Ajout des propriétés de la page accueil*/
.pageaccueil p{
    font-size: 12px;
}

.img-container{
    width: 200px;
    height: 200px;
}

.pageaccueil img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.pageaccueil span{
    color: transparent;
    background-image: linear-gradient(to right, #dd00ff, #ff00b2);
    background-clip: text;
}

/*Ajout des propriétés de la page se connecter*/
.pageconnection p{
    font-size: 20px;
}

.pageconnection a{
    font-size: 15px;
}

.MessageConnection{
    padding: 10px;
}

.pageinscription label{
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Keania One', cursive;
    color: transparent;
    background-image: linear-gradient(to right, #59ff00, #00ffd4);
    background-clip: text;
}

.connexion input {
    background-color: #1D1D1D;
    height: 40px;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid white;
}

/*Ajout des propriétés de la page inscription*/
.pageinscription a{
    font-size: 15px;
}

.pageinscription p{
    font-size: 20px;
}

.MessageInscription{
    padding: 10px;
}

.pageconnection label{
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Keania One', cursive;
    color: transparent;
    background-image: linear-gradient(to right, #59ff00, #00ffd4);
    background-clip: text;
}

.inscription input {
    background-color: #1D1D1D;
    height: 40px;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid white;
}

/*Ajout des propriétés de la page créations*/
.pagecreation p{
    font-size: 20px;
}

.pagecreation a{
    font-size: 15px;
    width: 80px;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #59b7ff, #faa1ff) 1;
    padding: 5px;
    margin-top: 0px;
}

.AvatarField h4{
    font-size: 15px;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #59b7ff, #faa1ff) 1;
}

.AvatarField{
    margin: 70px;
}

.inputsearch{
    background-color: #1D1D1D;
    height: 30px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid white;
    margin-bottom: 10px;
}

.search{
    background-color: #1D1D1D;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.2s ease-out;
    margin-bottom: 160px
}

select{
    background-color: #1D1D1D;
    color: white;
    border-radius: 5px;
    border: 3px solid white;
    margin-bottom: 10px;
}

.search:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.search button{
    margin-left: 10px;
    width: fit-content;
}

.AvatarMenu img{
    width: 80px;
    height: 80px;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #59b7ff, #faa1ff) 1;
}

.AddAvatar{
    margin-top: 100px;
}

/*Ajout des propriétés de la page contact*/
#Message{
    height: 200px;
}

.pagecontact label{
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Keania One', cursive;
    color: transparent;
    background-image: linear-gradient(to right, #59ff00, #00ffd4);
    background-clip: text;
}

/* Ajout des medias queries pour différentes tailles d'écrans*/
@media (max-width: 768px) {

    .img-container{
        width: 100px;
        height: 100px;
    }

    img.img-fluid{
        width: 100px;
        height: 100px;
    }

    .container{
        padding: 0px;
    }

    .AvatarField{
        margin: 30px;
    }

    .search{
        margin-top: 10px;
    }

    time{
        font-size: 15px;
    }
}

@media (max-width: 576px) {

    .interactions{
            flex-direction: column;
            align-items: start;
        }   
}