
/* Ajouter un fond noir grisé à la page et une marge de 0 */
body {background-color: #2d2d2d;
margin: 0px;}

/* Ajouter un fond noir au header avec une largeur de 950 pixels et une hauteur de 250 pixels, et définir la position du header en initialisant sa hauteur et en la dirigeant à gauche de 315 pixels */
header {background-color: #1D1D1D;
width: 950px;
height: 250px;
position : absolute;
top: 0px;
left: 315px;}

/* Définir les propriétés de la taille de l'image du logo du header avec une largeur de 400 pixels et une hauteur qui s'adapte à cette propriété , un comportement d'ajustement d'image initialisé sa taille en fonction du champ du header */
header img {width: 400px;
height: auto;
object-fit: cover;
position: relative;
top: 0%;}

/* Définir les style des titres des contenus avec une police Inter, une taille de 40px, en gras et une couleur verte */
h1 {font-family: Inter, sans-serif;
font-size: 40px;
font-weight: bold;
color: #59FF00;}

/* Définir la couleur de fond de la barre de navigation avec la même teinte que le header puis définir sa taille avec une largeur de 315 pixels et une hauteur de 1937 pixels et définir sa position de en initilisant sa hauteur et sa gauche à 0 pixels */
nav {background-color: #1D1D1D;
width: 315px;
height: 1937px;
position : absolute;
top: 0px;
left: 0px;}

/* Enlever les propriétés de styles automatiques des listes afin que nous puissions les personnalisés nous-mêmes */
ul {list-style: none;}

/* Définir la position de la liste des liens de navigation avec une hauteur de 150 pixels et une largeur non défini (0 pixels) */
nav ul {position: relative;
top: 150px;}

/* Définir la marge entre les éléments des liens de la barre de navigation à 150 pixels */
nav li {margin-bottom: 150px;}

/* Personnaliser la taille des îcones des liens dans la barre de navigation à une hauteur de 60 pixels et une largeur de 60 pixels et appliquer la couleur blanche aux îcônes qui étaient définit sur noir */
nav img {width: 60px;
height: 60px;
filter: invert(100%);
filter: white(100%);}

/* Disposer les éléments du compte de l'utilisateur de façon flexible puis en colonne pour ensuite qui soient centré puis définir leur position en relatif et les déplacer à une hauteur de 90 pixels */
.compte {display: flex;
flex-direction: column;
align-items: center;
position: relative;
top: 90px;}

/* Définir la couleur de fond du cercle du compte avec une couleur violette, une largeur de 100 pixels, une hauteur de 100 pixels, un rayon de bord arrondi à 50% et afficher le cercle en flexbox pour centrer les éléments qu'il contient */
.cercle-compte {background-color: #5e00b1;
width: 100px;
height: 100px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;}

/* Définir les propriétés des initiales du compte avec une couleur blanche, une police Inter et une taille de 30px */
.initials {color: white;
font-family: Inter, sans-serif;
font-size: 30px;}

/* Définir les propriétés du pseudo de l'utilisateur avec une couleur blanche, une police Inter et une taille de 23px et la centré par rapport au cercle */
.pseudo {color: white;
font-family: Inter, sans-serif;
font-size: 23px;
text-align: center;}

/* Définir les propriétés des liens de navigation en enlevant les styles automatiques, en leur appliquant une couleur blanche, une taille de 30 pixels, une police Inter et définir leur disposition en grille pour pouvoir leur appliquer un espacement de 10 pixels en répétant le ^processus 3 fois en 1 fractionentre chaque lien et enfin leur appliquer une hauteur de champs de 224 pixels, les positionner à doite de la barre de navigation à 10%, définir un padding de 10 pixels et une marge de 50 pixels en haut et 50 pixels en bas */
nav a {list-style: none;
text-decoration: none;
color: white;
font-size: 30px;
font-family: Inter, sans-serif;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
padding: 83px;
align-items: center;
width: 224px;
position: right (10%);
padding: 10px;
margin-top: 50px;
margin-bottom: 50px;}

/* Définir la couleur du lien accueil de la barre de navigation en vert et une épaisseur définit en gras et un soulignement */
.accueil {color: #59FF00;
font-weight: bold;
text-decoration: underline;}

/* Définir la couleur des lien au survol en vert et une épaisseur définit en gras et un soulignement */
a:hover {color: #59FF00;
font-weight: bold;
text-decoration: underline;}

/* Définir la zone principale des contenus avec une largeur de 722 pixels, une hauteur de 1530 pixels et une position absolue à 370 pixels en haut et 450 pixels à gauche */
main {width: 722px;
height: 1530px;
position : absolute;
top: 370px;
left: 450px;}

/* Définir le contenue de la classe "Qui Sommes Nous" à une opacité de 0% et une transition de 2 secondes*/
.Qui_Sommes_Nous {opacity: 0%;
transition: 2s;}

/* Définir le contenue de la classe "FantasyRealm Online" à une opacité de 0% et une transition de 2 secondes*/
.FantasyRealm_Online {opacity: 0%;
transition: 2s;}

/* Définir le contenue de la classe "Qu'est-ce qu'on propose" à une opacité de 0% et une transition de 2 secondes*/
.Qu_est_ce_qu_on_propose {opacity: 0%;
transition: 2s;}

/* Définir les propriétés des paragraphes des contenus de la zone principale avec une taille de police de 25px, une police Inter, une couleur blanche et une largeur de 404 pixels */
main p {font-size: 25px;
font-family: Inter, sans-serif;
color: white;
width: 404px;}

/* Définir les propriétés des images dans la zone principale avec une largeur de 180 pixels, une hauteur de 180 pixels et un comportement d'ajustement d'image */
main img {width: 180px;
height: 180px;
object-fit: cover;}

/* Définir les propriétés du contenu1 avec un padding de 0, 10 pixels, une disposition flexible en ligne avec retour à la ligne, un alignement centré et un espacement entre les éléments de 5rem et définir la marge de 90 pixels en haut et 130 pixels en bas */
.contenu1 {padding: 0, 10px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
gap: 5rem;
margin-top: 90px;
margin-bottom: 130px;}

/* Définir les propriétés du paragraphe1 en occupant la moitié de l'espace */
.Paragraphe1 {flex: 1;}

/* Définir les propriétés du titre2 avec une position relative à la section à gauche de 320 pixels */
.title2 {position: relative;
left: 320px;}

/* Définir les propriétés du contenu2 avec un padding de 0, 10 pixels, une disposition flexible en ligne avec retour à la ligne, un alignement centré et un espacement entre les éléments de 5rem et définir la marge de 90 pixels en haut et 130 pixels en bas */
.contenu2 {padding: 0, 15px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
gap: 5rem;
margin-top: 90px;
margin-bottom: 130px;}

/* Définir les propriétés du paragraphe2 en occupant la moitié de l'espace */
.Paragraphe2 {flex: 1;}

/* Définir les propriétés du contenu3 avec un padding de 0, 15 pixels, une disposition flexible en ligne avec retour à la ligne, un alignement centré et un espacement entre les éléments de 5rem et définir la marge de 90 pixels en haut et 130 pixels en bas */
.contenu3 {padding: 0, 15px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
gap: 5rem;
margin-top: 90px;
margin-bottom: 130px;}

/* Définir les propriétés du paragraphe3 en occupant la moitié de l'espace */
.Paragraphe3 {flex: 1;}

/* Définir les propriétés du pied de page avec un fond identique au header et à la navigation, une largeur de 1270 pixels, une hauteur de 403 pixels et une position absolue à 1935 pixels en bas et 0pixels à gauche */
footer {background-color: #1D1D1D;
width: 1270px;
height: 403px;
position : absolute;
top: 1935px;
left: 0px;}

/* Enlever la marge de la liste des liens du pied de page */
footer ul {margin: 0px}

/* Définir les propriétés des éléments de la liste du pied de page avec une position relative de 80 pixels en haut et une marge de 20 pixels en bas */
footer li {position: relative;
top: 80px;
margin-bottom: 20px;}

/* Définir les propriétés des liens du pied de page en enlevant le style des liens automatique, et en les définissant nous-mêmes avec une couleur blanche, une taille de 23px et une police Inter */
footer a {list-style: none;
text-decoration: none;
color: white;
font-size: 23px;
font-family: Inter, sans-serif;}

/* Définir les propriétés du paragraphe du pied de page avec une couleur blanche, une taille de police de 20px, une police Inter et une position relative à 270 pixels en haut et 500 pixels à gauche et enlever la marge définit automatiquement */
footer p{color: white;
font-size: 20px;
font-family: Inter, sans-serif;
position: relative;
top: 270px;
left: 500px;
margin: 0px;}