html {position: relative;
min-height: 100%;
}

main {margin-bottom: 100px;}

footer {padding: 20px;
margin-bottom: 0px;
position: absolute;
bottom: 0;
width: 100%;
}

a {text-decoration: none;
color: white;
}

footer p {margin-top: 20px;
font-size: 12px;
}