body {background-color: #2d2d2d;
margin: 0px;}

/* Ajouter un fond noir au header avec une largeur de 950 pixels et une hauteur de 250 pixels, et définir la position du header en initialisant sa hauteur et en la dirigeant à gauche de 315 pixels */
header {background-color: #1D1D1D;
width: 950px;
height: 250px;
position : absolute;
top: 0px;
left: 315px;}

/* Définir les propriétés de la taille de l'image du logo du header avec une largeur de 400 pixels et une hauteur qui s'adapte à cette propriété , un comportement d'ajustement d'image initialisé sa taille en fonction du champ du header */
header img {width: 400px;
height: auto;
object-fit: cover;
position: relative;
top: 0%;}

/* Définir la couleur de fond de la barre de navigation avec la même teinte que le header puis définir sa taille avec une largeur de 315 pixels et une hauteur de 2500 pixels et définir sa position de en initilisant sa hauteur et sa gauche à 0 pixels */
nav {background-color: #1D1D1D;
width: 315px;
height: 2500px;
position : absolute;
top: 0px;
left: 0px;}

/* Enlever les propriétés de styles automatiques des listes afin que nous puissions les personnalisés nous-mêmes */
ul {list-style: none;}

/* Définir la position de la liste des liens de navigation avec une hauteur de 150 pixels et une largeur non défini (0 pixels) */
nav ul {position: relative;
top: 150px;}

/* Définir la marge entre les éléments des liens de la barre de navigation à 150 pixels */
nav li {margin-bottom: 150px;}

/* Personnaliser la taille des îcones des liens dans la barre de navigation à une hauteur de 60 pixels et une largeur de 60 pixels et appliquer la couleur blanche aux îcônes qui étaient définit sur noir */
nav img {width: 60px;
height: 60px;
filter: invert(100%);
filter: white(100%);}

/* Disposer les éléments du compte de l'utilisateur de façon flexible puis en colonne pour ensuite qui soient centré puis définir leur position en relatif et les déplacer à une hauteur de 90 pixels */
.compte {display: flex;
flex-direction: column;
align-items: center;
position: relative;
top: 90px;}

/* Définir la couleur de fond du cercle du compte avec une couleur violette, une largeur de 100 pixels, une hauteur de 100 pixels, un rayon de bord arrondi à 50% et afficher le cercle en flexbox pour centrer les éléments qu'il contient */
.cercle-compte {background-color: #5e00b1;
width: 100px;
height: 100px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;}

/* Définir les propriétés des initiales du compte avec une couleur blanche, une police Inter et une taille de 30px */
.initials {color: white;
font-family: Inter, sans-serif;
font-size: 30px;}

/* Définir les propriétés du pseudo de l'utilisateur avec une couleur blanche, une police Inter et une taille de 23px et la centré par rapport au cercle */
.pseudo {color: white;
font-family: Inter, sans-serif;
font-size: 23px;
text-align: center;}

/* Définir les propriétés des liens de navigation en enlevant les styles automatiques, en leur appliquant une couleur blanche, une taille de 30 pixels, une police Inter et définir leur disposition en grille pour pouvoir leur appliquer un espacement de 10 pixels en répétant le ^processus 3 fois en 1 fractionentre chaque lien et enfin leur appliquer une hauteur de champs de 224 pixels, les positionner à doite de la barre de navigation à 10%, définir un padding de 10 pixels et une marge de 50 pixels en haut et 50 pixels en bas */
nav a {list-style: none;
text-decoration: none;
color: white;
font-size: 30px;
font-family: Inter, sans-serif;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
padding: 83px;
align-items: center;
width: 224px;
position: right (10%);
padding: 10px;
margin-top: 50px;
margin-bottom: 50px;}

/* Définir la couleur du lien se_connecter de la barre de navigation en vert et une épaisseur définit en gras et un soulignement */
.se_connecter {color: #59FF00;
font-weight: bold;
text-decoration: underline;}

/* Définir la couleur des lien au survol en vert et une épaisseur définit en gras et un soulignement */
a:hover {color: #59FF00;
font-weight: bold;
text-decoration: underline;}

/* Définir la zone principale des contenus avec une largeur de 722 pixels, une hauteur de 1195 pixels et une position absolue à 400 pixels en haut et 405 pixels à gauche */
main {width: 720px;
height: 1195px;
position : absolute;
top: 400px;
left: 405px;}

/* Définir les propriétés du paragraphe du contenu de la zone principale avec une taille de police de 40px, une police Inter, une couleur blanche et une largeur de 715 pixels */
main p {font-size: 40px;
font-family: Inter, sans-serif;
color: white;
width: 715px;}

/* Définir les propriétés des labels des informations avec une police Inter, une taille de 40px, en gras et une couleur blanche */
.informations label {font-family: Inter, sans-serif;
font-size: 40px;
font-weight: bold;
color: white;}

/* Définir les propriétés du contenu informations avec une position relative et le déplacer de 80 pixels en haut */
.informations {position: relative;
top : 80px;}

/* Définir les propriétés du contenu inscription avec une position relative et le déplacer de 50 pixels en haut */
.inscription {position: relative;
top: 50px;}

/* Définir les propriétés des divs du contenu inscription avec une marge haute de 10 pixels */
.inscription div {margin-top: 10px;}

/* Définir les propriétés des divs du contenu informations avec une disposition en flexbox, une direction colonne, un espacement de 20 pixels entre les éléments et une marge basse de 80 pixels */
.informations div {display: flex;
flex-direction: column;
gap: 20px;
margin-bottom: 80px;}

/* Définir les propriétés des inputs des informations avec un fond noir, une couleur de police blanche, une taille de police de 30px, une police Inter, une bordure solide de couleur blanche et une épaisseur de bordure de 5 pixels */
.informations input {background-color: #2d2d2d;
color: white;
font-size: 30px;
font-family: Inter, sans-serif;
border-style: solid;
border-color: white;
border-width: 5px;}

/* Définir les propriétés de l'input email avec une largeur de 495 pixels, une hauteur de 71 pixels et une marge interne de 10 pixels */
.inputemail {width: 495px;
height: 71px;
padding: 10px;}

/* Définir la taille du champ de l'input du pseudo avec une largeur de 360 pixels et une hauteur de 71 pixels et définir une marge interne de 10 pixels */
.inputpseudo {width: 360px;
height: 71px;
padding: 10px;}

/* Définir la taille du champ de l'input du mot de passe avec une largeur de 360 pixels et une hauteur de 71 pixels et définir une marge interne de 10 pixels */
.inputmotdepasse {width: 360px;
height: 71px;
padding: 10px;}

/* Définir la taille du champ de l'input de la confirmation du mot de passe avec une largeur de 360 pixels et une hauteur de 71 pixels et définir une marge interne de 10 pixels */
.inputconfirmationmotdepasse {width: 360px;
height: 71px;
padding: 10px;}

/* Définir les propriétés de l'icône du mot de passe avec un filtre inversé blanc à 100%, une largeur de 30 pixels et une hauteur automatique avec un ajustement de l'image, une position relative à 460 pixels en bas et 340 pixels à gauche et un curseur qui pointe */
.eyeclosemotdepasse {filter: invert(100%);
filter: white(100%);
width: 30px;
height: auto;
object-fit: cover;
position: relative;
bottom: 460px;
left: 340px;
cursor: pointer;}

/* Définir les propriétés de l'icône de la confirmation du mot de passe avec un filtre inversé blanc à 100%, une largeur de 30 pixels et une hauteur automatique avec un ajustement de l'image, une position relative à 212 pixels en bas et 306 pixels à gauche et un curseur qui pointe */
.eyecloseconfirmationmotdepasse {filter: invert(100%);
filter: white(100%);
width: 30px;
height: auto;
object-fit: cover;
position: relative;
bottom: 212px;
left: 306px;
cursor: pointer;}

/* Définir les propriétés du placeholder avec une police Inter, une couleur verte et une taille de 30px */
::placeholder {font-family: Inter, sans-serif;
color: #297500;
font-size: 30px;}

/* Définir les propriétés du bouton de soumission du formulaire en enlevant les styles automatiques de la bordure et en arrondissant ses angles à 999 pixels, avec un fond vert, une couleur de police blanche de famille Inter, une taille de 40px, une épaisseur définit en gras, une largeur de 229 pixels, une hauteur de 71 pixels et un curseur qui pointe */
button {background-color: #59FF00;
color: white;
font-weight: bold;
font-size: 30px;
font-family: Inter, sans-serif;
width: 229px;
height: 71px;
border-style: none;
border-radius: 999px;
cursor: pointer;}

/* Définir les propriétés du bouton de soumission du formulaire au survol en changeant la couleur de fond en blanc et la couleur de police en vert */
button:hover {background-color: white;
color: #59FF00;}

.SeConnecter {position: relative;
top: 150px;}

/* Définir les propriétés du lien de connexion à une couleur verte, une taille de police de 30px, une police Inter, une décoration de texte none et une position relative à 72 pixels en bas et 450 pixels à gauche */
.LienSeConnecter {color: #59FF00;
font-size: 30px;
font-family: Inter, sans-serif;
text-decoration: none;
position: relative;
bottom: 72px;
left: 450px;}

/* Définir les propriétés du pied de page avec un fond identique au header et à la navigation, une largeur de 1270 pixels, une hauteur de 403 pixels et une position absolue à 2350 pixels en bas et 0 pixels à gauche */
footer {background-color: #1D1D1D;
width: 1270px;
height: 403px;
position : absolute;
top: 2350px;
left: 0px;}

/* Enlever la marge de la liste des liens du pied de page */
footer ul {margin: 0px}

/* Définir les propriétés des éléments de la liste du pied de page avec une position relative de 80 pixels en haut et une marge de 20 pixels en bas */
footer li {position: relative;
top: 80px;
margin-bottom: 20px;}

/* Définir les propriétés des liens du pied de page en enlevant le style des liens automatique, et en les définissant nous-mêmes avec une couleur blanche, une taille de 23px et une police Inter */
footer a {list-style: none;
text-decoration: none;
color: white;
font-size: 23px;
font-family: Inter, sans-serif;}

/* Définir les propriétés du paragraphe du pied de page avec une couleur blanche, une taille de police de 20px, une police Inter et une position relative à 270 pixels en haut et 500 pixels à gauche et enlever la marge définit automatiquement */
footer p{color: white;
font-size: 20px;
font-family: Inter, sans-serif;
position: relative;
top: 270px;
left: 500px;
margin: 0px;}